*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Fredoka One', cursive;
}

.main_div{
    width: 100vw;
    height: 100vh;
    background-color: #222f3e;
    display: grid;
    place-items: center;
}

.main_div h1::before{
    content: "⩔│Unstoppable│⩔";
    width: 100%;
    color: #1dd1a1;
    position: absolute;
    top: 0;
    left: 0;
    border-right: .4rem solid #1dd1a1;
    animation: slide 3s linear  infinite;
    overflow: hidden;
}

@keyframes slide{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.main_div h1{
    font-size: 8rem;
    color: white;
    position: relative;
}

@media screen and (max-width: 732px){
    .main_div h1{
        font-size: 6rem;
    }

    .main_div h1::before{
        width: 100%;
    }
}

@media screen and (max-width: 544px){
    .main_div h1{
        font-size: 4.5rem;
    }

    .main_div h1::before{
        width: 100%;
    }
}

@media screen and (max-width: 406px){
    .main_div h1{
        font-size: 3.6rem;
    }

    .main_div h1::before{
        width: 100%;
    }
}

@media screen and (max-width: 326px){
    .main_div h1{
        font-size: 3rem;
    }

    .main_div h1::before{
        width: 100%;
    }
}